.cart-item {
  border-bottom: 2px solid #160976;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 28%;
}

.price {
  font-weight: bold;
  color: #160976;
}

.amount {
  font-weight: bold;
  font-size: large;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}
.imgContainer {
  width: 13%;
  display: inline-block;
}
.imgContainer img {
  width: 100%;
}
.itemName {
  display: inline-block;
  vertical-align: top;
  font-size: large;
  margin-left: 2%;
}

.name .actions {
  display: flex;
  flex-direction: column;
}
.actions {
  margin-left: 78%;
}
@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #160976;
  border: 1px solid #160976;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #160976;
  color: white;
}
