.header {
  width: 80%;
  height: 5rem;
  background-color: #3585d0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.formContainer {
  width: 50%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}
.formContainer input {
  width: 100%;
  padding: 2%;
  border-radius: 15px;
  border: none;
  outline: none;
}

.formContainer button {
  background-color: #2a1596;
  color: white;
  font-weight: bold;
  margin-left: 3%;
  padding: 0 2%;
  border-radius: 15px;
  border: none;
}
.header h4 {
  margin-left: 50%;
}
.header a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.account {
  padding: 0 3%;
}
.header a:active,
.header a:visited {
  color: white;
}

.header h2:hover {
  cursor: pointer;
}
.searchResult {
  position: absolute;
  z-index: 1;
  width: 33.8%;
  left: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  top: 12%;
}
.searchResult div {
  padding: 2%;
}

.searchResult div:hover {
  background-color: rgb(201, 200, 200);
  cursor: pointer;
  border-radius: 10px;
}

.searchResult a {
  text-decoration: none;
  color: black;
}

.searchResult a:visited {
  color: black;
}
