.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 14% 47%;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.spinner:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3437d4;
  border-color: #3437d4 transparent #3437d4 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
