.spinner {
  display: inline-block;
  width: 5px;
  height: 5px;
  transform: translateY(-180%);
  /* margin: 1% 50%; */
  margin-right: 8%;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.spinner:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 0) and (max-width: 500px) {
  .spinner {
    /* margin: 60% 40%; */
  }
}
